[project]
name = "backend"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "fastapi>=0.128.0",
    "jwt>=1.4.0",
    "pwdlib>=0.3.0",
    "sqlalchemy>=2.0.46",
]
